[submodule "src/angular.core"]
	path = src/angular.core
	url = https://github.com/milenstanev/mstanev.angular.1.x.x.core.git
[submodule "src/angular.template"]
	path = src/angular.template
	url = https://github.com/milenstanev/jspm.angular.template.git
[submodule "src/angular.lazyload-router"]
	path = src/angular.lazyload-router
	url = https://github.com/milenstanev/jspm.angular.lazyload-router.git
[submodule "src/angular.test-module"]
	path = src/angular.test-module
	url = https://github.com/milenstanev/jspm.angular.test-module.git
